<div class="container">
  <h1>Edit {{ contact.first_name }}</h1>
  <hr>
  <form method="POST" action="/contacts/{{#if contact.id }}{{ contact.id }}?_method=PUT{{/if}}" class="well">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input type="text" class="form-control" id="first-name" value= "{{ contact.first_name}}" name="first_name">
        </div>

      <!-- LAST NAME -->
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input type="text" class="form-control" id="last_name" value= "{{ contact.last_name }}" name="last_name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>

      <!-- PHONE -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone-number">Phone</label>
          <input type="text" class="form-control" id="phone-number" value= "{{ contact.phone_number}}" name="phone_number">
        </div>
      </div>
    </div>

    <!-- EMAIL -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="email-address">Email Address</label>
          <input type="email" min="0" max="10" class="form-control" id="email-address" value= "{{ contact.email_address}}" name="email_address">
        </div>
      </div>
    </div>

    <!-- ADDRESS -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="line-1">Address 1</label>
          <input type="text"  class="form-control" id="line-1" value= "{{ address.line_1}}" name="line_1">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="line-2">Address 2</label>
          <input type="text"  class="form-control" id="line-2" value= "{{ address.line_2}}" name="line_2">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text"  class="form-control" id="city" value= "{{ address.city}}" name="city">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="zip">Zip Code</label>
          <input type="text"  class="form-control" id="zip" value= "{{ address.zip}}" name="zip">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
