<div class="container">
  <h1>All My Peeps</h1>
  {{#each contact}}
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <a href="/contacts/{{ this.id }}"><h2>{{ this.first_name }} {{ this.last_name }}</h2></a>
      <p>email: {{ this.email_address }}</p>
      <p>phone: {{ this.phone_number }}</p>
      <p>line_1: {{ this.line_1 }}</p>
      <p>line_2: {{ this.line_2 }}</p>
      <a href="/contacts/{{ this.id }}/edit" type="button" name="button" class="btn btn-success"
      id="edit-button">Edit</a>
    </div>
  </div>
  {{/each}}
</div>
