<div class="container">
  <h1>{{ contact.first_name }} {{ contact.last_name}}</h1>
  <hr>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <p>First Name: {{ contact.first_name }}</p>
      <p>Last Name: {{ contact.last_name }}</p>
      <p>Phone Number: {{ contact.phone_number }}</p>
      <p>e-mail: {{ contact.email_address }}</p>
      <a href="/contacts/{{ contact.id }}/edit" type="button" name="button" class="btn btn-success">Edit</a>
    </div>
  </div>
</div>
